.monsterCards .monsterCard {
    width: 600px;
    height: 400px;
}

.ma-aa .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-1.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-2.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-3.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-4.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-5.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-6.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-7.png');
}
.ma-aa .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/ancient-artillery/ma-aa-8.png');
}

.ma-ar .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-1.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-2.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-3.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-4.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-5.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-6.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-7.png');
}
.ma-ar .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/archer/ma-ar-8.png');
}

.ma-ab .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-1.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-2.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-3.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-4.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-5.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-6.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-7.png');
}
.ma-ab .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/ashblade/ma-ab-8.png');
}

.ma-bo .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-1.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-2.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-3.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-4.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-5.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-6.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-7.png');
}
.ma-bo .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/boss/ma-bo-8.png');
}

.ma-cb .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-1.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-2.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-3.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-4.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-5.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-6.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-7.png');
}
.ma-cb .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/cave-bear/ma-cb-8.png');
}

.ma-cu .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-1.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-2.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-3.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-4.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-5.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-6.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-7.png');
}
.ma-cu .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/cultist/ma-cu-8.png');
}

.ma-dt .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-1.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-2.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-3.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-4.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-5.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-6.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-7.png');
}
.ma-dt .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/deep-terror/ma-dt-8.png');
}

.ma-ed .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-1.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-2.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-3.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-4.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-5.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-6.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-7.png');
}
.ma-ed .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/earth-demon/ma-ed-8.png');
}

.ma-fld .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-1.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-2.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-3.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-4.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-5.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-6.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-7.png');
}
.ma-fld .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/flame-demon/ma-fld-8.png');
}

.ma-frd .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-1.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-2.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-3.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-4.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-5.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-6.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-7.png');
}
.ma-frd .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/frost-demon/ma-frd-8.png');
}

.ma-gv .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-1.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-2.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-3.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-4.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-5.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-6.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-7.png');
}
.ma-gv .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/giant-viper/ma-gv-8.png');
}

.ma-gu .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-1.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-2.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-3.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-4.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-5.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-6.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-7.png');
}
.ma-gu .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/guard/ma-gu-8.png');
}

.ma-hi .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-1.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-2.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-3.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-4.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-5.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-6.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-7.png');
}
.ma-hi .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/harrower-infester/ma-hi-8.png');
}

.ma-ho .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-1.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-2.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-3.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-4.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-5.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-6.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-7.png');
}
.ma-ho .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/hound/ma-ho-8.png');
}

.ma-im .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-1.png');
}
.ma-im .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-2.png');
}
.ma-im .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-3.png');
}
.ma-im .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-4.png');
}
.ma-im .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-5.png');
}
.ma-im .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-6.png');
}
.ma-im .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-7.png');
}
.ma-im .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/imp/ma-im-8.png');
}

.ma-lb .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-1.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-2.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-3.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-4.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-5.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-6.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-7.png');
}
.ma-lb .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/living-bones/ma-lb-8.png');
}

.ma-lc .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-1.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-2.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-3.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-4.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-5.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-6.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-7.png');
}
.ma-lc .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/living-corpse/ma-lc-8.png');
}

.ma-ls .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-1.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-2.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-3.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-4.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-5.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-6.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-7.png');
}
.ma-ls .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/living-spirit/ma-ls-8.png');
}

.ma-lu .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-1.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-2.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-3.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-4.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-5.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-6.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-7.png');
}
.ma-lu .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/lurker/ma-lu-8.png');
}

.ma-nd .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-1.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-2.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-3.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-4.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-5.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-6.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-7.png');
}
.ma-nd .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/night-demon/ma-nd-8.png');
}

.ma-oo .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-1.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-2.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-3.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-4.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-5.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-6.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-7.png');
}
.ma-oo .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/ooze/ma-oo-8.png');
}

.ma-rd .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-1.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-2.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-3.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-4.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-5.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-6.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-7.png');
}
.ma-rd .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/rending-drake/ma-rd-8.png');
}

.ma-sa .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-1.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-2.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-3.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-4.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-5.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-6.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-7.png');
}
.ma-sa .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/savage/ma-sa-8.png');
}

.ma-si .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-1.png');
}
.ma-si .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-2.png');
}
.ma-si .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-3.png');
}
.ma-si .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-4.png');
}
.ma-si .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-5.png');
}
.ma-si .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-6.png');
}
.ma-si .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-7.png');
}
.ma-si .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/savvas-icestorm/ma-si-8.png');
}

.ma-sl .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-1.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-2.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-3.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-4.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-5.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-6.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-7.png');
}
.ma-sl .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/savvas-lavaflow/ma-sl-8.png');
}

.ma-sc .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-1.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-2.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-3.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-4.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-5.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-6.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-7.png');
}
.ma-sc .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/scout/ma-sc-8.png');
}

.ma-sh .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-1.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-2.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-3.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-4.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-5.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-6.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-7.png');
}
.ma-sh .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/shaman/ma-sh-8.png');
}

.ma-spd .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-1.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-2.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-3.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-4.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-5.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-6.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-7.png');
}
.ma-spd .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/spitting-drake/ma-spd-8.png');
}

.ma-sg .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-1.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-2.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-3.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-4.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-5.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-6.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-7.png');
}
.ma-sg .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/stone-golem/ma-sg-8.png');
}

.ma-sud .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-1.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-2.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-3.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-4.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-5.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-6.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-7.png');
}
.ma-sud .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/sun-demon/ma-sud-8.png');
}

.ma-tr .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-1.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-2.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-3.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-4.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-5.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-6.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-7.png');
}
.ma-tr .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/tracker/ma-tr-8.png');
}

.ma-wd .monsterCards .monsterCard:nth-child(1) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-1.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(2) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-2.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(3) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-3.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(4) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-4.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(5) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-5.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(6) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-6.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(7) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-7.png');
}
.ma-wd .monsterCards .monsterCard:nth-child(8) {
    background-image: url('/images/monster-ability-cards/wind-demon/ma-wd-8.png');
}